.konten-datasurat {
	width: 100%;
	height: auto;
}

/*Main Content*/
.mainkonten {
	width: 100%;
	height: auto;
	padding-left: 255px;
	/*background-color: yellow;*/
	display: inline-block;
}
	/*header*/
.datasurat-header {
	width: 100%;
	height: 50px;
	font-size: 16.5px;
	color: #ffffff;
	margin-bottom: 25px;
	background-color: #607d8b;
}
.datasurat-header a {
	color: #ffffff;
}
.datasurat-header a:hover{
	text-decoration: none;
	background-color: #4d646f;
}
.judul-header-menu {
	/*background-color: cyan;*/
	width: 200px;
	height: 100%;
	line-height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	text-decoration: none;
}
.surat-masuk-color {
	background-color: #4d646f;
	width: auto;
}
.judul-header-menu-kanan {
	float: right;
	text-align: right;
	width: auto;
}

.mainkonten-datasurat {
	width: 100%;
	height: auto;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 25px;
	padding-bottom: 55px;
	/*background-color: pink;*/
}


	/*KONTEN ISI TABEL*/
.tabel-container {
	/*background-color: cyan;*/
	width: 100%;
	height: auto;
	overflow-x: auto;
	font-size: 14px;
	/*overflow-x: hidden;
	overflow-y: scroll;*/
}
.tabel-container table {
	background-color: #ffffff;
	table-layout: fixed;
	width: auto;
}
.tabel-container th {
	text-align: center;
	white-space: nowrap;
  	padding: 8px 10px;
	background-color: #bbdefb;
	border-color: #bbdefb;
	border-bottom-width: 0px!important;
}

.tabel-container td {
	width: 200px;
	max-width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	padding: 8px 10px;
}
.page-item.active .page-link {
	background-color: #bbdefb;
	border-color: #bbdefb;
	color: #000000;
}
.page-link {
	color: #000000;
}
.page-link:hover {
	color: #000000;
}